extends layout
block content
  .col-12
    h1 #{title}
    h2 #{heading}
  .row
   each game in games
    .card
     .card-block
      h4 Title: #{game.title}
      p  Price: €#{game.price}
      img(src=game.image, width=300, height=300)
      p Description: #{game.description}
      p Genre: #{game.genre}